<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="errors">
      <h2><%= pluralize(@user.errors.count, "error") %> prevented this change from saving:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :body %><br>
  <%= f.text_area :body %><br>
  <br>

  # more profiley stuff here
  
  <%= f.submit %>
<% end %>