<h1><%=@user.username  %>'s Profile Page</h1>
<p><%= image_tag(@user.avatar.url) %></p>
<%= link_to 'Follow this user', root_path, notice: "You are now
following this user" %>
<h3> Posts: (<%=@posts.count%>)</h3>
<% @posts.each do |post|  %>
    <div class="link row clearfix">
      <h2>
        <%=  post.body %><br>
        <small class="author">Submitted <%= time_ago_in_words(post.created_at) %> ago</small>
      </h2>
    </div>
<%end %>



# show.html.erb
# shows other user profiles
# link to follow/unfollow, root_path
