<h1>Posts index page</h1>
 
<% @posts.each do |post| %>
    <div>
      <h3><%= post.body %></h3>
      <h5>posted <%= time_ago_in_words(post.created_at) %> ago </h5>
         
      
 
      <%= link_to 'Show', post %>

    </div>
<% end %>
 
<%= paginate @posts, :window => 2 %>

<%= link_to 'New Post', new_post_path %><br>