<h1>Posts index page</h1>
 
<% @posts.each do |post| %>
    <div>
      <h5><%= post.body %></h5>
      <h6><%= time_ago_in_words(post.created_at) %> by <%= post.user.email %></h6>
      
 
      <%= link_to 'Show', post %>

    </div>
<% end %>
 


<%= link_to 'New Post', new_post_path %><br>