<div class="blog-post"> 
	<% @posts.each do |post| %>
	    <div>
	    	<img class="avatar" src="<%= post.user.avatar.small_avatar %>"> 
	    	<h3><%= post.body %></h3>
	      <h5>posted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.username %></h5>
	 
	      <h6><%= link_to 'Show', post %><h6>

	    </div>
	<% end %>
</div><!-- /.blog-post -->
 
<%= paginate @posts, :window => 2 %>