<div class="blog-post"> 
	<% @posts.each do |post| %>
	    <div>
	    	<img class="avatar" src="<%= post.user.avatar.small_avatar %>"> 
	    	<h3><%= post.body %></h3>
	      <h5>posted <%= link_to time_ago_in_words(post.created_at), post %> ago by <%= link_to post.user.username, user_path(post.user.id) %></h5>
	    </div>
	<% end %>
</div><!-- /.blog-post -->
 
<%= paginate @posts, :window => 2 %>