<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <title>Chirp</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item"><%= link_to 'Home', posts_path %></a>
          <% if user_signed_in? -%>
            <a class="blog-nav-item"><%= link_to 'Profile', new_post_path %></a>
            <a class="blog-nav-item"><%= link_to 'Edit Account', edit_user_registration_path %></a>
            <a class="blog-nav-item"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></a>
            <a class="blog-nav-item"><%= link_to 'New Post', new_post_path %></a>
          <% else %>
            <a class="blog-nav-item"><%= link_to 'Want to join?', new_user_registration_path %></a>
            <a class="blog-nav-item"><%= link_to 'Sign in', new_user_session_path %></a>
          <% end -%>
        </nav>
      </div>
    </div>

    <div id="main_content" class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

    <div class="container">

      <div class="blog-header">
        <%= image_tag "/public/chirp_logo.png", class: "icon" %>
        <h1 class="blog-title">Chirp</h1>
        <p class="lead blog-description">The future of microblogging is here.</p>
      </div>

      <div class="row">

        <div class="col-sm-3 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Quick blurb about the user--maybe a short bio, follower/following count, and avatar?</p>
          </div>  
        </div><!-- /.blog-sidebar -->

        <div class="col-sm-8 blog-main">
          <%= yield %>
        </div><!-- /.blog-main -->

      </div><!-- /.row -->
    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog template built for <a href="http://www.theironyard.com">The Iron Yard</a> by Aaron Harvey and Kelly Bristol</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
  </body>
</html>


    
    